In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('balance.txt', delim_whitespace=True)

In [7]:
print (df['Ethnicity'].unique())

['Caucasian' 'Asian' 'African American']

In [7]:
print("The average income of Caucasians is", df[df.Ethnicity == "Caucasian"].loc[:,"Income"].mean())
print("The average income of Asians is", df[df.Ethnicity == "Asian"].loc[:,"Income"].mean())
print("The average income of African Americans is", df[df.Ethnicity == "African American"].loc[:,"Income"].mean())

The average income of Caucasians is 44.521944723618084
The average income of Asians is 44.18783333333334
The average income of African Americans is 47.68210101010099

In [8]:
print("The average balance of Married individuals is", df[df.Married == "Yes"].loc[:,"Balance"].mean())
print("The average balance of Single individuals is", df[df.Married == "No"].loc[:,"Balance"].mean())

The average balance of Married individuals is 13.388473477498913
The average balance of Single individuals is 13.493509015134242

The average balance of Married individuals according to this dataset is lower than Single individuals.

In [9]:
print ('The highest income in our dataset is:', df['Income'].max())

The highest income in our dataset is: 186.634

In [10]:
print ('The lowest income in our dataset is:', df['Income'].min())

The lowest income in our dataset is: 10.354

In [11]:
print ('We have', df['Cards'].sum(), 'Cards in our dataset.')

We have 1183 Cards in our dataset.

In [22]:
print ('We have information on', df[df.Gender == 'Female'].loc[:,"Balance"].count(), 'Females in our dataset.')
print ('We have information on', df[df.Gender == 'Male'].loc[:,"Balance"].count(), 'Males in our dataset.')

We have information on 207 Females in our dataset.
We have information on 193 Males in our dataset.